#egg{

    background-color: lightslategrey;
    height: 10vh;


}

.eggmenu {

    width: 5vw;
    height: 10vh;

}
/* .navbar {

    margin-top: -2em;

} */
#midwebcarouselandbg {

    background-color:black;
    background-image: url(../imagenes/d12502180d14eebf754760e3affdfc12.jpg);
    height: 100vh;
}

.col {

    height: 50vh;

}
